body {
    text-align: center;
    vertical-align: center;
}

.container {
    text-align: center;
    vertical-align: center;
    background-color: black;
    width: 400px;
    height: 400px;
}

.battery {
    width: 40%;
    height: 100px;
    background-color: silver;
}