.checkbox {
    position:relative;
    padding-left:25px;
}
.checkbox input[type=checkbox] {
    display:none;
}
.checkbox label:after {
    content:'';
    display:block;
    height:11px;
    width:14px;
    outline:1px solid #eaeaea;
    position:absolute;
    top:0;
    left:0;
}
.checkbox input[type=checkbox]:checked + label:after {
    /*outline:1px solid #939598;*/
    /*border:2px solid #fff;*/
    width:14px;
    height:11px;
    background-image: url("img/checkbox@1X.png");
    /*background-color:#63849F;*/
}