.l1{
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px black solid;
}
.l2{
    display: inline-block;
    width: 100px;
    height: 200px;
    border: 1px black solid;
}
.nav-left-menu {
    /*margin-top: 26px;*/
    /*margin: 0 auto;*/
    /*height: 399px;*/
    /*display: inline-block;*/
    /*background-color: white;*/
    /*border: 1px #35444F solid;*/
    /*width: 300px;*/
    display: inline-block;
    width: 100px;
    height: 200px;
    border: 1px black solid;
}

