body {
    margin: 0 auto;
    position: relative;
}

.box {
    position: absolute;
    top: 10px;
    left: 5%;
    background-color: #3A4965;
    width: 1192px;
    height: 736px;
}

table {
    font-family: 'Arimo', sans-serif;
    /*font-family: AdobeInvisFont, Arimo-Bold, Courier, serif;*/
    /*Извинте, это именно тот шрифт, который использован в макете.*/
    margin: 20px 20px 20px 24px;
    background-color: #FAFAFA;
    border-collapse: collapse;
}

td {
    height: 70px;
    border: 2px #D9D9D9 solid;
}

td.f {
    height: 110px;
}

.chooseYour {
    font-size: 14px;
    font-weight: 900;
    color: #484848;
}

.pricingPlan {
    font-size: 16px;
    font-weigth: 900;
    color: #484848;
}

h2 {
    margin: 0 auto;
    display: inline-block;
}

.standard {
    text-align: center;
    font-size: 18px;
    font-weigth: 900;
    background-color: #89C331;
    color: #FFFFFF
}

.ultimate {
    text-align: center;
    font-size: 20px;
    font-weigth: 900;
    background-color: #F04A56;
    color: #FFFFFF
}

.premium {
    text-align: center;
    font-size: 18px;
    font-weigth: 900;
    background-color: #20807C;
    color: #FFFFFF
}
.price{
    position: relative;
}
.S {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 35px;
    font-size: 48px;
    color: #484848;
    font-weight: 900;
}
.c{
    display: inline-block;
    position: absolute;
    top: 14px;
    left: 115px;
    font-size: 25px;
    color: #484848;
    font-weight: 900;
}
.text_l{
    display: inline-block;
    position: absolute;
    top: 34px;
    left: 119px;
    font-size: 20px;
    color: #A1A1A1;
    font-weight: 900;
}
.text{
    text-align: center;
    font-size: 20px;
    color: #A1A1A1;
    font-weight: 900;
}
.f{
text-align: center;
}
.contactUs{
    background-image: url("../img/Rounded Rectangle 0@1X.png");
    height: 50px;
    width: 193px;
    color: #FFFFFF;
}
.buyNow1{
    background-image: url("../img/Rounded Rectangle 1@1X.png");
    height: 50px;
    width: 193px;
    color: #FFFFFF;
}
.buyNow2{
    background-image: url("../img/Rounded Rectangle 2@1X.png");
    height: 50px;
    width: 193px;
    color: #FFFFFF;
}
.buyNow3{
    background-image: url("../img/Rounded Rectangle 3@1X.png");
    height: 50px;
    width: 193px;
    color: #FFFFFF;
}
.backgcolor tr:nth-child(2n) {
background-color: #E3E3E3;
}
.f:hover{
    background-color:#DDDDDD;
}