body {
    margin: 0 auto;
    font-family: Verdana, serif;
    background-image: url("img/rana-sawalha-364253-unsplash@1X.png");
    background-size: cover;
    height: 840px;
}

header {
    position: relative;

    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    padding: 1px 0 1px 81px;
    color: white;
}

.logo {
    display: inline-block;
    font-size: 10px;
}

.logo:hover {
    color: #3cb878
}

nav {
    display: inline-block;
}

.icon {
    display: inline-block;
    height: 19px;
    width: 19px;
    background: no-repeat;
}

/*.menu:hover {*/
/*    color: #3cb878*/
/*}*/

.calendar {
    position: absolute;
    display: inline-block;
    background: url("img/ic.png");
    height: 20px;
    top: 18px;
    left: 67%;
}
.calendar:hover{
    position: absolute;
    display: inline-block;
    background: url("img/ic_g.png");
    height: 20px;
    top: 18px;
    left: 67%;
}
.list {
    position: absolute;
    display: inline-block;
    background: url("img/ic.png") 0 -20px;
    height: 20px;
    width: 26px;
    top: 18px;
    left: 70%;
}
.list:hover {
    position: absolute;
    display: inline-block;
    background: url("img/ic_g.png") 0 -20px;
    height: 20px;
    width: 26px;
    top: 18px;
    left: 70%;
}
.journey {
    position: absolute;
    display: inline-block;
    background: url("img/ic.png") -19px 0;
    top: 18px;
    left: 73%;
    height: 20px;
    width: 20px;
}
.journey:hover {
    position: absolute;
    display: inline-block;
    background: url("img/ic_g.png") -19px 0;
    top: 18px;
    left: 73%;
    height: 20px;
    width: 20px;
}
div.welcome {
    position: absolute;
    display: inline-block;
    top: 18px;
    left: 78%;
    font-size: 14px;
}

.login {
    color: #389A66;
}

.login:hover {
    text-decoration: underline;
}

.singnup {
    color: #389A66;
}

.singnup:hover {
    text-decoration: underline;
}

.container {
    position: relative;
}

.form1 {
    position: relative;
    top: 89px;
    left: 34%;
    width: 444px;
    height: 584px;
    background-color: white;
    border-radius: 7px;
}

.green {
    display: inline-block;
    position: absolute;
    top: 29px;
    left: 0;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
}


.login_f {
    display: inline-block;
    position: absolute;
    top: 29px;
    left: 77%;
    width: 80px;
    height: 20px;
    font-size: 14px;
    color: #3CB878;
    font-weight: 400;
}
.login_f:hover{
    text-decoration: underline;
}

.signup_f {
    display: inline-block;
    position: absolute;
    top: 25px;
    left: 13%;
    width: 88px;
    height: 19px;
    font-size: 20px;
    font-weight: 400;
}

.facebook {
    position: relative;
    top: 63px;
    left: 62px;
    width: 158px;
    height: 47px;
    font-size: 16px;
    font-weight: 400;
    background-color: #305db8;
    color: #f1f4fa;
    /*outline: none;*/
    border-radius: 7px;
    border: 1px solid #f6f6f6;
}

.f {
    position: absolute;
    top: 11px;
    left: 19px;
}

.vl {
    position: absolute;
    top: 8px;
    left: 44px;
}

.fa {
    position: absolute;
    top: 13px;
    left: 60px;
}

.google {
    position: absolute;
    top: 63px;
    left: 227px;
    width: 158px;
    height: 47px;
    font-size: 16px;
    font-weight: 400;
    background-color: #df4a32;
    color: #f1f4fa;
    /*outline: none;*/
    border-radius: 7px;
    border: 1px solid #f6f6f6;
}

.line {
    position: absolute;
    top: 146px;
    left: 62px;
    width: 322px;
    height: 2px;
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    background: url("img/or-line@1X.png") no-repeat;
}

.or {
    position: absolute;
    top: 136px;
    left: 62px;
    width: 321px;
    height: 17px;
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    color: #B5B5B5;
}

.form-firstname input {
    position: absolute;
    top: 176px;
    left: 62px;
    width: 322px;
    height: 46px;
    color: #434343;
    border: 1px solid #f6f6f6;
    border-radius: 7px;
}

.form-lastname input {
    position: absolute;
    top: 231px;
    left: 62px;
    width: 322px;
    height: 46px;
    color: #434343;
    border: 1px solid #f6f6f6;
    border-radius: 7px;
}

.form-email input {
    position: absolute;
    top: 286px;
    left: 62px;
    width: 322px;
    height: 46px;
    color: #434343;
    border: 1px solid #f6f6f6;
    border-radius: 7px;
}

.form-choosepassword input {
    position: absolute;
    top: 341px;
    left: 62px;
    width: 322px;
    height: 46px;
    color: #434343;
    border: 1px solid #f6f6f6;
    border-radius: 7px;
}

.form-confirmpassword input {
    position: absolute;
    top: 396px;
    left: 62px;
    width: 322px;
    height: 46px;
    color: #434343;
    border: 1px solid #f6f6f6;
    border-radius: 7px;
}

.CreateAccount {
    position: absolute;
    top: 506px;
    left: 62px;
    width: 322px;
    height: 47px;
    background-color: #3cb878;
    color: #f1f4fa;
    font-size: 16px;
    border: 1px solid #f6f6f6;
    border-radius: 7px;
}

.form-firstname input:focus {
    outline: none;
    box-shadow: 0 0 7px #666;
}

.form-lastname input:focus {
    outline: none;
    box-shadow: 0 0 7px #666;
}

.form-email input:focus {
    outline: none;
    box-shadow: 0 0 7px #666;
}

.form-choosepassword input:focus {
    outline: none;
    box-shadow: 0 0 7px #666;
}

.form-confirmpassword input:focus {
    outline: none;
    box-shadow: 0 0 7px #666;
}

.agree {
    position: absolute;
    top: 467px;
    left: 72px;

}

.checkbox {
    position: relative;
    padding-left: 25px;
    font-size: 14px;
}

.checkbox input[type=checkbox] {
    display: none;
}

.checkbox label:after {
    position: absolute;
    content: '';
    display: block;
    height: 11px;
    width: 14px;
    outline: 1px solid #eaeaea;
    top: 4px;
    left: -8px;
}

.checkbox input[type=checkbox]:checked + label:after {
    width: 14px;
    height: 11px;
    background-image: url("img/checkbox@1X.png");
}

.term {
    color: #3cb878;
}

.term:hover {
    text-decoration: underline;
}