body {
    background-color: #343434;
    margin: 0 auto;
}

.container {
    border: #ffffff 1px solid;
    margin: 0 auto;
    background-image: url("../img/background.png");
    width: 1367px;
    height: 769px;
}

.main {
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    font-family: adobe Verdana-Bold, serif;
    color: white;

}

.logo {
    margin-top: 50px;
    height: 50px;
    width: inherit;
}
a{
    text-decoration: none;
    color: white;
}

a:hover {
    color: #F26522;
}
a.logo-img0{
    background-image: url("../img/logo@1X.png");
    display: block;
    height: 44px;
    width: 46px;
    float: left;
}
a.logo-img0:hover{
    background-image: url("../img/logo@1h.png");
}
.b {
    float: left
}

.milan {
    vertical-align: top;
    margin-left: 21px;
    float: left;
    color: white;
    font-size: 26px;
}

.holidays {
    margin: 0 auto;
    float: left;
    color: white;
    font-size: 17px;
}

.contacts {
    margin: 0 auto;
    float: right;
    color: white;
    font-size: 18px;
    text-align: right;
}

p {
    margin: 0 auto
}

.photo {
    float: left;
    margin-top: 50px;
    margin-right: 67px;
    color: white;
}
.photo1 {
    /*display: inline-block;*/
    float: left;
    margin-top: 50px;
    margin-right: 67px;
    color: white;
}
.photo_r {
    float: right;
    margin-top: 50px;
    color: white;
}
.i {
    border: 2px outset whitesmoke;
    box-shadow: 0 20px 40px #000;
}

.photo_r>img {
    border: 2px outset whitesmoke;
    box-shadow: 0 20px 40px #000;
}

.photo-text {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}

.f{
    margin-top: 30px;
    text-align: center;
    font-size: 12px;
    color: white;
    font-family: adobe Verdana-Bold, serif;
}
p{
    color: rgba(0,0,0,0);
}

