input:focus {
    border-color: green;
    background-color: #FFFFFF;
}

.prce {
    padding-right: 10px;
    padding-left: 10px;
    border-color: black;
    border-radius: 10px;
}

#button {
    margin-left: 15px;
    border-radius: 2px;
}

.button {
    margin-left: 15px;
    border-radius: 2px;
}

.notcorrect {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #ff4561;
    padding-left: 10px;
    padding-right: 10px;

}