a {
    margin: 5%;
    font-family: adobe, "Courier New", "Roboto Thin";
    font-size: 18px;
    color: #16A085
}

.layer1 {
    background: #fafbff;
    padding: 30px;
}

.layer2 {
    text-align: center;
    width: 1024px;
    background: aliceblue;
    border-color: #16A085;
    border-style: inset;
}

.layer3 {
    width: 1035px;
    background: lightgray;
    padding: 20px;;
}

h2 {
    margin: 40px;
    font-family: adobe, "Courier New", "Roboto Thin";
}

p {
    font-size: 16px;
    font-family: adobe, "Courier New", "Roboto Thin";
    margin: 5%;
    width: 90%;
    text-align: center;
}

button {
    text-align: center;
    background: #16A085;
    font-size: 16px;
    font-family: adobe, "Courier New", "Roboto Thin";
    color: #fafbff;
    margin: 30px;
    padding: 10px;
}
