body{
    background-color: #485863;
}

.test-mouse{
    border: 1px #ff4561 solid;
    margin: 0 auto;
    width: 200px;
   padding: 10px;
}
.test-mouse:hover{
    background: #16A085;
}
some-list > li:nth-child(2n){
    background-color: #ff4561;
    color: #B4B7BA;
}
.test-mouse h2:first-letter{
    color: #ff4561;

}