div.container {
    margin: 0 auto;
    width: 1480px;
    background: #ffffff;
    padding: 2px;
    font-family: adobe, "Courier New", "Roboto Thin", serif;
}

div.header {
    text-align: left;
    width: 1280px;
    background: #ffffff;
}

a.logo {
    margin: 0px;
    text-align: left;
    color: black;
    text-decoration: none;
    font-size: 80px;
}

.colortext {
    color: #4BCAFF;
}

nav {
    height: 70px;
    text-align: center;
    background-color: #35444F;
    font-size: 24px;
    margin-bottom: 50px;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: none;
}

li {
    display: inline-block;
    margin-left: 30px;
}

a {
    text-decoration: none;
    color: #fff;
}

a.left-a {
    text-decoration: none;
    color: #485863;
}

.main-menu {
    list-style: none;
    margin: 50px 0 5px;
    padding: 25px 0 5px;
    text-align: center;
    /*background: white;*/
}


li.left {
    display: block;
    height: 50px;
    padding-left: 60px;
    margin-left: 0;
    color: #485863;
    padding-top: 20px;
}

.ul-left-menu {
    padding-top: 20px;
    padding-left: 0;
    margin-left: 0;
    /*display: inline-block;*/
}

nav.nav-left-menu {
    *zoom: 1; /* trigger hasLayout for IE7 and below */
    *display: inline; /* the star targets only IE7 and below */
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
    height: 399px;
    background-color: white;
    border: 1px #35444F solid;
    width: 460px;
    text-align: left;
}

div.top-img {
    margin-left: 80px;
    display: inline-block;
    width: 925px;
    height: 589px;
    border: 1px #35444F solid;
    vertical-align: top;
    padding-bottom: 0;
    text-align: center;
    /*padding-top: 90px;*/
}

.text {
    margin-top: 40px;
    margin-left: 40%;
    margin-right: 1%;
    font-size: 18px;
}

.footer {
    height: 70px;
    text-align: left;
    background-color: #B4B7BA;
    font-size: 28px;
    color: #0C1927;
    margin-bottom: 50px;
}

.foot {
    color: #0C1927;
}

.copy {
    font-size: 22px;
}
