
.container1 {
    height: 600px;
    background-image: url("../img/section-1(header).jpg");
    background-attachment: fixed;
    background-size: cover;
}

header {
    position: relative;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.main-menu {
    position: absolute;
    font-size: 10px;
    top: 45px;
    left: 462px;
}

.home {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 55px;
    color: #B8B8B8;
    font-size: 10px;
}

.home:hover {
    border-bottom: 1px #18CFAB solid;
    color: #18CFAB;
    cursor: pointer;
}

.about {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 44px;
    height: 55px;
    color: #B8B8B8;
    font-size: 10px;
}

.about:hover {
    border-bottom: 1px #18CFAB solid;
    color: #18CFAB;
    cursor: pointer;
}

.skills {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 96px;
    height: 55px;
    color: #B8B8B8;
    font-size: 10px;
}

.skills:hover {
    border-bottom: 1px #18CFAB solid;
    color: #18CFAB;
    cursor: pointer;
}

.service {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 148px;
    height: 55px;
    color: #B8B8B8;
    font-size: 10px;
}

.service:hover {
    border-bottom: 1px #18CFAB solid;
    color: #18CFAB;
    cursor: pointer;
}

.work {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 207px;
    height: 55px;
    color: #B8B8B8;
    font-size: 10px;
}

.work:hover {
    border-bottom: 1px #18CFAB solid;
    color: #18CFAB;
    cursor: pointer;
}

.testimonial {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 252px;
    height: 55px;
    color: #B8B8B8;
    font-size: 10px;
}

.testimonial:hover {
    border-bottom: 1px #18CFAB solid;
    color: #18CFAB;
    cursor: pointer;
}

.blog {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 339px;
    height: 55px;
    color: #B8B8B8;
    font-size: 10px;
}

.blog:hover {
    border-bottom: 1px #18CFAB solid;
    color: #18CFAB;
    cursor: pointer;
}

.team {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 381px;
    height: 55px;
    color: #B8B8B8;
    font-size: 10px;
}

.team:hover {
    border-bottom: 1px #18CFAB solid;
    color: #18CFAB;
    cursor: pointer;
}

.contact {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 424px;
    height: 55px;
    color: #B8B8B8;
    font-size: 10px;
}

.contact:hover {
    border-bottom: 1px #18CFAB solid;
    color: #18CFAB;
    cursor: pointer;
}

.search {
    display: inline-block;
    position: absolute;
    top: -4px;
    left: 489px;
    height: 59px;
}

.search:hover {
    border-bottom: 1px #18CFAB solid;
    cursor: pointer;
}

.logo {
    position: absolute;
    top: 15px;
    left: 175px;
}

.h {
    position: absolute;
    font-size: 35px;
    font-weight: 600;
    top: 12px;
    left: 15px;
    color: white;
}

.th {
    position: absolute;
    color: #B8B8B8;
    font-size: 25px;
    font-weight: 100;
    top: 20px;
    left: 63px;
}

.ham {
    font-weight: 600;
    color: #18CFAB;
}

body {
    margin: 0 auto;
    font-family: Verdana, serif;
    width: 1160px;
}

.container1a {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.b1a1 {
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.b1a2 {
    font-size: 45px;
    font-weight: 900;
    color: white;
    margin-bottom: 15px;
}

.b1a3 {
    font-size: 20px;
    font-weight: 100;
    color: #D4D4D4;
    margin-bottom: 40px;
}

.fc1 {
    /*display: flex;*/
    /*flex-direction: row;*/
}

.explore {
    font-size: 10px;
    font-weight: 700;
    background-color: #18CFAB;
    color: #F0FCF9;
    border-radius: 4px;
    border-bottom: 5px;
    border-left: 5px;
    border-right: 5px;
    box-shadow: white;
    height: 40px;
    width: 120px;
    margin-right: 10px;
}

.purchase {
    font-size: 10px;
    font-weight: 700;
    background-color: #00CBF6;
    color: #F0FCF9;
    border-radius: 4px;
    border-bottom: 5px;
    border-left: 5px;
    border-right: 5px;
    box-shadow: white;
    height: 40px;
    width: 120px;
}

.purchase1 {
    font-size: 10px;
    font-weight: 700;
    background-color: #18CFAB;
    color: #F0FCF9;
    border-radius: 4px;
    border-bottom: 5px;
    border-left: 5px;
    border-right: 5px;
    box-shadow: white;
    height: 40px;
    width: 120px;
    margin-top: 60px;
}

.wordpress {
    color: #18CFAB;
}

.container2 {
    display: flex;
    height: 240px;
}

.b21 {

    color: #18cfab;
    background-color: #1c2a33;
    width: 480px;
    text-align: center;
}

.b212 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-size: 15px;
}

.b21i {
    margin-bottom: 10px;
}

.empty0 {

    height: 4px;
    background-color: #18CFAB;
}

.b22 {
    color: #1c2a33;
    background-color: #18cfab;
    width: 480px;
}

.b222 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    font-size: 15px;
}

.b22i {
    margin-bottom: 12px;
}

.empty1 {
    height: 4px;
    background-color: #1C2A33;
}

.container3 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #FFFFFF;
    height: 452px;
    text-align: center;
}

.b31 {
    font-size: 20pt;
    color: #4e4e4e;
    margin-top: 40px;
}

.b32 {
    height: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.menuServices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    color: #777777;
    width: 1200px;
}

.s1 {
    position: relative;
    padding-top: 18px;
    font-size: 12px;
    height: 35px;
    width: 150px;
    text-align: center;
    border: 1px solid #EBECEC;
    color: #D1F5EE;
    background-color: #18CFAB
}

.s1:after {
    content: '';
    position: absolute;
    right: 63px;
    top: 45px;
    border: 10px solid transparent;
    border-top: 20px solid #18CFAB
}

.s2 {
    position: relative;
    padding-top: 18px;
    font-size: 12px;
    height: 35px;
    width: 150px;
    color: #717171;
    background-color: #f8fcfe;
    text-align: center;
    border: 1px solid #EBECEC;
    cursor: pointer;
}

.s2:hover:after {
    content: '';
    position: absolute;
    right: 63px;
    top: 45px;
    border: 10px solid transparent;
    border-top: 20px solid #18CFAB
}

.s2:hover {
    color: #D1F5EE;
    background-color: #18CFAB
}


.b34 {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    color: #777777;
    margin-top: 20px;
}

.b34p {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 146px;
    height: 120px;
    width: 150px;
}

.b34t {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 308px;
    height: 120px;
    width: 750px;
    text-align: justify;
}

.container4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 358px;
    background-image: url("../img/section-2.jpg");
    background-size: cover;
    text-align: center;

}

.b41 {
    color: #18cfab;
    font-size: 15pt;
}

.b42 {
    color: #d8d8d8;
}

.container5 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /*height: 900px;*/
    /*width: 608px;*/
    background-color: #f8fcfe;
    text-align: center;
}

.b51 {
    font-size: 20pt;
    color: #4e4e4e;
    margin-top: 40px;
}

.b52 {
    margin-top: 15px;
}

.b53 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    /*align-items: end;*/
    color: #717171;
}

.b531 {
    background-color: #FFFFFF;
    border: 1px solid #ebebeb;
    padding: 15px 15px 15px 15px;
    color: #18CFAB;
    border-top: 2px solid #18CFAB;
}

.b532, .b533, .b534, .b535 {
    background-color: #FFFFFF;
    border: 1px solid #ebebeb;
    padding: 15px 15px 15px 15px;
}

.b531:hover, .b532:hover, .b533:hover, .b534:hover, .b535:hover {
    color: #18CFAB;
    border-top: 2px solid #18CFAB;
    cursor: pointer;

}

.b54 {
    display: flex;
    margin-left: 55px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1000px;
    justify-content: center;
}

.b54 > img {
    /*flex-grow: 1;*/
}

.loadMore {
    font-size: 15px;
    font-weight: 700;
    background-color: #18CFAB;
    color: #F0FCF9;
    border-radius: 4px;
    border-bottom: 5px;
    border-left: 5px;
    border-right: 5px;
    height: 40px;
    width: 120px;
    margin-top: 40px;
    margin-bottom: 66px;
}

.container6 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 700px;
    background-color: #FFFFFF;
    text-align: center;
}

.b63 {
    width: 925px;
    margin-left: 132px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.fc5{
    margin-left: 10px;
}
.link {
    position: relative;
    background-color: #F8FCFE;
    border: 1px solid #EBEBEB;
    margin-bottom: 20px;
}

.link a {
    display: block;
    height: 100%;
}

.b631t0:hover {
    color: #18CFAB;
}


.b631t0 {
    color: #717171;
    font-weight: 700;
}

.b631t1 {
    color: #777777;
    font-size: 10px;

}

.b631tu {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    height: 50px;
    width: 50px;
    background-color: #203E38;
    color: #FFFFFF;

}

.b631tu:hover {
    background-color: #18CFAB;
}

.container7 {
    background-image: url("../img/Sections background/section-3.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 700px;
    background-color: #FFFFFF;
    text-align: center;
}

.b71 {
    color: #FFFFFF;
    font-size: 30px;
}

.b74 {
    color: #BBBBBB;
}

.b76 {
    position: relative;
}

.b75t0 {
    color: #18CFAB;
    font-weight: 800;
    margin-bottom: 10px;
}

.b75t1 {
    color: #BBBBBB;
    font-size: 12px;
}

.b76Elipse2 {
    position: absolute;
    top: 11px;
    left: 508px;

}

.b76img {
    position: absolute;
    top: 11px;
    left: 508px;
}

.carusel {
    /*display: inline-block;*/
    position: relative;
    /*width: 800px;*/
    height: 100px;
    /*border: 1px solid #FFFFFF;*/
}

.buttonLeft {
    display: inline-block;
    position: absolute;
    top: 34px;
    left: 324px;
    border: 2px solid #BBBBBB;
    color: #BBBBBB;
    padding: 4px 8px 5px 8px;
}

.buttonLeft:hover, .buttonRight:hover {
    background-color: #18CFAB;
    border-color: #18CFAB;
    color: #FFFFFF;
}

.face1 {
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 390px;
}

.face2 {
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 490px;
}

.face3 {
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 590px;
}

.face4 {
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 690px;
}

.fon0 {
    position: absolute;
    top: 0px;
    left: 0px;
}

.image1 {
    position: absolute;
    top: 5px;
    left: 5px;
}

.buttonRight {
    display: inline-block;
    position: absolute;
    top: 34px;
    left: 793px;
    border: 2px solid #BBBBBB;
    color: #BBBBBB;
    padding: 4px 8px 5px 8px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    color: #AEAEAE;
    font-size: 8px;
    background-color: #22353F;
    height: 100px;
}

.theHam {
    color: #18CFAB;
}