html, body {
    margin: 0;
    width: 100%;
    font-family: Verdana, monospace;
}

.container {
    /*width: 1900px;*/
}

.container1 {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

a.a_main {
    text-decoration: none;
    color: #FFFFFF;
    margin: 10pt;
}

.main_menu {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    background-color: #1d2124;
    color: #FFFFFF;
    font-size: 15px;

}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 70px;
    width: 70px;
    margin-left: auto;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 70px;
    width: 70px;
}

.architect {
    font-size: 22px;
    margin-right: auto;
}

.the_latest {
    color: #FFFFFF;
    font-size: 27px;
    margin-bottom: 44px;
}

.site_header {

    display: flex;
    height: 404px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../img/html_css_homework_homework6_img_header-bg.jpeg");
    background-size: cover;
    background-attachment: fixed;
}

.container11 {
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
}

.most {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #18b4cf;
    font-size: 27px;
    text-align: center;
    height: 80px;
    background-color: #F2F2F2;
}

.most_popular_posts {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    color: #18b4cf;
    background-color: #F2F2F2;
    font-size: 27px;
    flex-wrap: wrap;
    width: 70%;

}

.p {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #000000;
    text-align: center;
    background-color: #FFFFFF;
    margin-right: 30px;
}

.subscribe_now {
    height: 55px;
    width: 170px;
    background-color: #89ca62;
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 5px;
    border: 0 solid #f6f6f6;

}

.best_articles {
    margin-left: 20px;
    height: 55px;
    width: 170px;
    background-color: #14b9d5;
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 5px;
    border: 0 solid #f6f6f6;

}

